<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Трэвис Скотт</title>
</head>
<body style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">
<h1>Трэвис Скотт</h1>
<img src="https://cdnn21.img.ria.ru/images/155944/27/1559442749_0:0:2047:2047_1920x0_80_0_0_d286326f466a3dcf38e6a067f7564128.jpg"
     width="300px" height="300px"
     alt="Фото музыканта">
<p>Привет, я
    <strong>Жак Берман Уэ́бстер II</strong>, и это <a href="">статья</a> обо мне...</p>
<hr>
<p style="color: darkcyan">
    <mark>Жак Берман Уэбстер</mark>
    родился 30 апреля 1991 года в городе Миссури, пригороде Хьюстона.<br>Скотт жил вместе со своей
    бабушкой, в то время как его мать работала в Apple, а его отец занимался собственным бизнесом.<br>Скотт посещал
    занятия
    в Техасском университете в Остине и Техасском университете в Сан-Антонио.
</p>
<p style="color: blueviolet"><em>В возрасте 16 лет Трэвис начал делать биты, впоследствии начав сотрудничество со своим давним другом Крисом
    Холлоуэем. В 2008 году они выпустили свой первый мини-альбом на Myspace. В 2010 году Трэвис образовал дуэт с рэпером
    OG Chess, провозгласив себя The Classmates. The Classmates выпустили два полноценных проекта: Buddy Rich и Cruis’n
    USA; Трэвис продюсировал оба проекта. В 2011 году после личных разногласий и финансовых споров, дуэт The Classmates
    прекращает своё существование. После окончания колледжа, Скотт переезжает из Хьюстона в Лос-Анджелес. В Калифорнии
    Трэвису помогал его друг Mike Waxx, который владел хип-хоп порталом Illroots. Затем рэпер T.I. услышал один из
    треков Трэвиса — Lights (Love Sick), после чего позвонил Скотту и попросил его приехать к рэперу на студию. На
    студии T.I. написал куплет и наложил на уже готовый трек Трэвиса Animal.</em></p>
<div>
    <del>Трэвис Скотт является поп-исполнителем</del>
</div>
</body>
</html>